.header-logo{
 text-align: center;
}

.dropdown-holder{
  display: block;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-item{
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  width: 100%;
}

.NavLink{
  color: #fff,
}

.submit-plant{
  color: black,
}

.space-div{
  padding-top: 50px;
}

.MuiAppBar-colorSecondary-13 {
    color: #fff;
    background-color: green;
}

.space-left-nav{
  padding-left: 90px
}

.logo {
  width: 35px
}

.logo-body {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%
}

.zip-body {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  padding-left: 140px
}

.extendedIcon {
  marginRight: theme.spacing.unit;
}

.ComposedTextField-container-125 {
  margin: auto;
  display: block;
}

#submitButtonDiv {
  margin: auto;
  text-align: center;
  }

  #submitButton {
    position:relative;
    top:50%; 
    left:-19%;
    background-color: black;
    color: white;
    border-radius: 5%;
    }